/* ConfigurationForm styling */
.form-group {
    margin-bottom: 1.5rem;
    align-items: center;

  }
  
  input[type="number"],
  input[type="text"]
  textarea {
    background-color: antiquewhite;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #0a0a0a;
    border-radius: 0.25rem;
    margin-top: 0.5rem;
    align-items: center;
    text-emphasis-color: black;
    color: #000000;
  
  }
  
  .Buttons{
    text-align: center;
    border: none;
    padding: 0.75rem 2rem;
    font-size: 1.25rem;
    border-radius: 0.25rem;
    cursor: pointer;
    margin: 1rem;
    
  }  
    
  
  
  .Buttons .submit  {
    background-color: #10253b;
    color: white;
    
    
  }
  
  .Buttons .start{
    background-color: #087c3a;
    color: white;
    

  }
  .Buttons .stop{
    background-color: #520518;
    color: white;
    

  }
  
  
  
  /* Title of Configuration Form */
  h3 {
    color: #007bff;
    font-size: 2ex;
  }





  